<br/>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
    {{else}}
    <div class="row">
      <div class="col-sm-12 text-center login-button">
        <button {{action "signIn" "github"}} href="#" class="btn btn-primary btn-lg">
          {{fa-icon "github" size="lg"}}
          Githubでログイン
        </button>
      </div>
    </div>
    {{/if}}
  </div>
</div>
